Login/LoginComp/src/conf/xml-resources/web-service-references/CompLogin/wsdl/localhost_8080/LoginComp/CompLogin.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://CompLogin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CompLogin/">

<xs:element name="validarUsuario" type="tns:validarUsuario" />

<xs:element name="validarUsuarioResponse" type="tns:validarUsuarioResponse" />

<xs:complexType name="validarUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>